.products{
display: grid;
grid-template-columns: 4fr  1fr;
/* position: relative; */
}


.product-container{
display: grid;
grid-template-columns: repeat(3 ,1fr);
grid-gap: 20px;

}

@media only screen and (max-width: 768px){
    .product-container{
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
       
        }
}

.product-container img{
    width: 200px;
    height: 200px;
}

.cart-container{
    text-align: center;
    background-color: bisque;
  margin: 10px;
  padding: 5px;
  position: sticky;
  top: 0;
  
}
.btn{
    padding: 10px;
    margin-bottom: 5px;
    background-color:orange;
    color: blue;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    background-color: orangered;
}

.item{
    border: 2px solid rgb(206, 47, 255);
    border-radius: 10px;
    background-color: blueviolet;
    color: azure;
    text-transform: uppercase;
    
}